*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: var(--font-family-body);
}

body{
  background: var(--color-bg1);
  color: white
}

a{
  color: unset;
  text-decoration: none;
}