
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');



:root {
  --font-family-display: 'Montserrat Alternates', sans-serif;
  --font-family-body: 'Manrope', sans-serif;

  --color-lilac: #AA65CA;
  --color-purple: #5C3C6B;
  --color-red: #BE515B; 
  --color-orange: #DE7945;
  --color-yellow: #E8AB46;

  --gradient:  linear-gradient(270deg, #E8AB46 0%, #DE7945 33.33%, #BE515B 66.67%, #AA65CA 100%);

  --color-bg0: #121212;
  --color-bg1: #171717;
  --color-bg2: #191919;
  --color-bg3: #202020;
  --color-bg4: #252525;
  --color-bg5: #2A2A2A;
  --color-bg6: #2E2E2E;
}

