@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Montserrat+Alternates:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

:root {
  --font-family-display: 'Montserrat Alternates', sans-serif;
  --font-family-body: 'Manrope', sans-serif;

  --color-lilac: #aa65ca;
  --color-purple: #5c3c6b;
  --color-red: #be515b;
  --color-orange: #de7945;
  --color-yellow: #e8ab46;

  --gradient: linear-gradient(270deg, #e8ab46 0%, #de7945 33.33%, #be515b 66.67%, #aa65ca 100%);

  --color-bg0: #121212;
  --color-bg1: #171717;
  --color-bg2: #191919;
  --color-bg3: #202020;
  --color-bg4: #252525;
  --color-bg5: #2a2a2a;
  --color-bg6: #2e2e2e;
}
