.card {
  background-color: var(--color-bg3);
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 200px;
  max-height: 330px;
  margin: 0 auto;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transform: scale(1);
  z-index: 1;
}
.card :hover {
  transform: scale(1.05);
  z-index: 2;
}
.card .card-image {
  width: 100%;
  max-width: 200px;
  height: 200px;
  overflow: hidden;
}
.card .card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card p {
  padding: 0.5rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--color-yellow);
}
